<div style="width:32px;height:32px;" class="cmd tooltips cmd-widget cursor container-fluid" data-type="info" data-subtype="numeric" data-cmd_id="#id#">
  	<div class="row">
		<div class="action cols-xs-12 center-block" id="iconCmd#id#"></div>
	</div>

<script>
	var cmdName = '#name#';
    if ('#state#' == '1' || '#state#' == 1) {
		$('#iconCmd#id#').append('<img src="plugins/widget/core/template/dashboard/cmd.action.other.verrou/Lock-32.png">');
        if (cmdName.toLowerCase().indexOf('lock') == 0) {
        	$('.cmd[data-cmd_id=#id#]').hide();
        }
    } else {
		$('#iconCmd#id#').append('<img src="plugins/widget/core/template/dashboard/cmd.action.other.verrou/Unlock-32.png">');
        if (cmdName.toLowerCase().indexOf('unlock') == 0) {
        	$('.cmd[data-cmd_id=#id#]').hide();
        }
    }
    $('.cmd[data-cmd_id=#id#] .action').off();
    $('.cmd[data-cmd_id=#id#] .action').on('click', function () {
    	jeedom.cmd.execute({id: '#id#'});
	});
</script>
</div>
