<div style="width:90px;min-height:80px;" class="cmd #history# tooltips cmd-widget container-fluid" data-type="info" data-subtype="binary" data-cmd_id="#id#" title="#collectDate#">
  	<div class="row">
      	<div class='cmdName center-block col-xs-12 h6' style="margin-top:0;"><strong>#name#</strong></div>
	    <div class='center-block col-xs-12' id="iconCmd#id#"></div>
    </div>
    <script>
        if ('#state#' == '1' || '#state#' == 1) {
            $('#iconCmd#id#').append('<img style="display: block;" src="plugins/widget/core/template/dashboard/cmd.info.numeric.routeur/Globe-60.png">');
        }
        else {
            $('#cmdName#id#').css('color','red');
            $('#cmdName#id#').fadeOut(800).fadeIn(800).fadeOut(400).fadeIn(400);
            $('#iconCmd#id#').append('<img style="display: block;" src="plugins/widget/core/template/dashboard/cmd.info.numeric.routeur/network-wired-60.png">');
        }
    </script>
</div>