<div style="width:100px;min-height:98px;" class="cmd #history# tooltips cmd-widget container-fluid" data-type="info" data-subtype="numeric" data-cmd_id="#id#" title="#collectDate#">
	<div class="row">
       <strong class='cmdName center-block col-xs-12' style="font-size : 12px" title="#name#">#name#</strong>
       <strong class='center-block col-xs-12 iconCmd#id#' style="font-size: 12px;" id=""></strong>
  </div>
   <script>
  		var temp;
     	/* calcul du pourcentage de charge par rapport à la valeur max*/
     	temp = ( #state# * 100 ) / #maxValue#; 
     	temp = temp.toFixed(0); // On arrondit;
    
        if ('#displayName#' == 1 || '#displayName#' == '1') {
            $('.cmd[data-cmd_id=#id#] .cmdName').show();
        }
        if (temp > 90 && temp <= 100) {  //piles pleines
      		$('.iconCmd#id#').append('<img src="plugins/widget/core/template/dashboard/cmd.info.numeric.batterieFun/battery-full.png"><span>Pleine</span>');
      	}
      	if (temp > 75 && temp <= 90) {
            $('.iconCmd#id#').append('<img src="plugins/widget/core/template/dashboard/cmd.info.numeric.batterieFun/battery-high.png"><span>Haute</span>');
		}
        if (temp > 50 && temp <= 75) {
            $('.iconCmd#id#').append('<img src="plugins/widget/core/template/dashboard/cmd.info.numeric.batterieFun/battery-half.png"><span>Moitié</span>');
      	}
        if (temp > 25 && temp <= 50) {
            $('.iconCmd#id#').append('<img src="plugins/widget/core/template/dashboard/cmd.info.numeric.batterieFun/battery-low.png"><span>Basse</span>');
      	}
        if (temp > 0 && temp <= 25) {
            $('.iconCmd#id#').append('<img src="plugins/widget/core/template/dashboard/cmd.info.numeric.batterieFun/battery-very-low.png"><span>Trés Basse</span>');
      	}
        if (temp == 0) {//piles vides
            $('.iconCmd#id#').append('<img src="plugins/widget/core/template/dashboard/cmd.info.numeric.batterieFun/battery-empty.png"><span>Vide</span>');
            $('.cmdName#id#').fadeOut(800).fadeIn(800).fadeOut(400).fadeIn(400);
			$('.iconCmd#id#').closest('.cmd').css('background-color','#ef0a0a');
      	}
    </script>
</div>