<div style="width:90px;min-height:80px;" class="cmd #history# tooltips cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#id#" title="Valeur du #valueDate#, collectée le #collectDate#">
    <center>
        <span class='cmdName' style="font-weight: bold;font-size : 12px;">#name_display#</span>
        <span style="font-size: 3.5em;" class="iconCmd#id#"></span>
    </center>
    <script>
        $('.iconCmd#id#').empty();
        if ('#state#' == '1') {
            $('.iconCmd#id#').append('<i class="fa fa-check"></i>');
            if ($('.cmd[data-cmd_id=#id#]').closest('.eqLogic').attr('data-bgColor') != undefined) {
                $('.cmd[data-cmd_id=#id#]').closest('.eqLogic').css('background-color', $('.cmd[data-cmd_id=#id#]').closest('.eqLogic').attr('data-bgColor'));
            }
        }
        else {
            $('.iconCmd#id#').append('<i class="icon jeedom-alerte2"></i>');
            $('.cmd[data-cmd_id=#id#]').closest('.eqLogic').attr('data-bgColor', $('.cmd[data-cmd_id=#id#]').closest('.eqLogic').css('background-color'));
            $('.cmd[data-cmd_id=#id#]').closest('.eqLogic').css('background-color', '#e74c3c');
        }
    </script>
</div>
