  <div class="cmd" data-type="action" data-subtype="slider" data-cmd_id="#id#" style="min-height:60px;" >
  <center>
    <div><span style="font-size: 1em;" id="iconCmd#id#"></span></div><br>
     <input id="stateDanfoss#id#" type="text" class="value form-control input-sm" value="#state# #unite#" style="width: 50px;display: inline-block; position: relative; top : 1px;"/>
    <div class="btn-group">
        <a class="btn btn-default btn-sm bt_plus" style="border: none;border-radius : 0px;color:black;"><i class="fa fa-plus"></i></a> 
        <a class="btn btn-default btn-sm bt_minus" style="border: none;border-radius : 0px;color:black;"><i class="fa fa-minus"></i></a>
    </div>

  </center>
    <script>
          $('.cmd[data-cmd_id=#id#] .bt_plus').on('click', function () {
            $('.cmd[data-cmd_id=#id#] .value').val((parseFloat($('.cmd[data-cmd_id=#id#] .value').val()) + 0.5)+'#unite#');
            $('.cmd[data-cmd_id=#id#] .value').trigger('change');
        });
        $('.cmd[data-cmd_id=#id#] .bt_minus').on('click', function () {
            $('.cmd[data-cmd_id=#id#] .value').val((parseFloat($('.cmd[data-cmd_id=#id#] .value').val()) - 0.5)+'#unite#');
            $('.cmd[data-cmd_id=#id#] .value').trigger('change');
        });
        $('.cmd[data-cmd_id=#id#] .value').on('change', function () {
            jeedom.cmd.execute({id: '#id#', value: {slider: $('.cmd[data-cmd_id=#id#] .value').val().replace("#unite#", "")}});
        });
    </script>
</div>