<div class="cmd #history# tooltips cmd-widget" style="width:90px;min-height:60px;" data-type="info" data-subtype="numeric" data-cmd_id="#id#" title="#collectDate#">
    <div class="progress" id="cmd#id#">
        <div class="progress-bar" role="progressbar" aria-valuenow="#state#" aria-valuemin="#minValue#" aria-valuemax="#maxValue#" >
            <span class="sr-only">60% Complete</span>
        </div>
    </div>
    <center>
        <span style="#displayHistory#" class="statistiques">
            <span title='Min' class='tooltips'>#minHistoryValue#</span>|<span title='Moyenne' class='tooltips'>#averageHistoryValue#</span>|<span title='Max' class='tooltips'>#maxHistoryValue#</span> <i class="#tendance#"></i>
        </span>
    </center>
    <script>
        var value = (is_numeric('#state#')) ? parseInt('#state#') : 0;
        $('.cmd[data-cmd=#id#]').find('.progress-bar').attr('aria-valuenow', value);
        var pourcentage = (value / ('#maxValue#' - '#minValue#')) * 100;
        $('.cmd[data-cmd=#id#]').find('.progress-bar').css('width', pourcentage + '%');
        var progressBarClass = '';
        if (pourcentage < 100) {
            progressBarClass = 'progress-bar-danger';
        }
        if (pourcentage < 75) {
            progressBarClass = 'progress-bar-warning';
        }
        if (pourcentage < 50) {
            progressBarClass = 'progress-bar-info';
        }
        if (pourcentage < 25) {
            progressBarClass = 'progress-bar-success';
        }
        $('.cmd[data-cmd=#id#]').find('.progress-bar').addClass(progressBarClass);
    </script>
</div>