<div style="width:110px;min-height:90px;" class="cmd tooltips cmd-widget cursor container" data-type="info" data-subtype="numeric" data-cmd_id="#id#">
    <center>
        <span style="font-size: 1.5em;" class="action span6" id="iconCmd#id#"></span>
        <!--span id="text#id#" class="span6"></span-->
    </center>
</div>

<script>
  	var stringState = '#name#';
  	stringState = stringState.toLowerCase();
    if ('#state#' == '1' || '#state#' == 1) {
		$('#iconCmd#id#').append('<img style="display: block;" src="plugins/widget/core/template/dashboard/cmd.action.other.iconActionSet/#iconON#.png">');
       	//$('#text#id#').css({"margin-top":"5px","display":"block","padding":"3px","border-radius":"4px","box-shadow":"2px 2px 4px white","border":"1px groove"});
        if (stringState.search('on') != -1 ) {
            $('.cmd[data-cmd_id=#id#]').hide();
        }
    } else {
        $('#iconCmd#id#').append('<img style="display: block;" src="plugins/widget/core/template/dashboard/cmd.action.other.iconActionSet/#iconOFF#.png">');
        if (stringState.search('off') != -1) {
            $('.cmd[data-cmd_id=#id#]').hide();
        }
    }
    $('.cmd[data-cmd_id=#id#] .action').off();
    $('.cmd[data-cmd_id=#id#] .action').on('click', function() {
        jeedom.cmd.execute({id: '#id#'});
    });
</script>