<div class="cmd" data-type="action" data-subtype="slider" data-cmd_id="#id#" style="margin-top : 5px;">
    <input type="text" class="value form-control input-sm" value="#state#" style="width: 50px;display: inline-block; position: relative; top : 1px;"/>
    <div class="btn-group">
        <a class="btn btn-default btn-sm bt_plus" style="border: none;border-radius : 0px;color:black;"><i class="fa fa-plus"></i></a>
        <a class="btn btn-default btn-sm bt_minus" style="border: none;border-radius : 0px;color:black;"><i class="fa fa-minus"></i></a>
    </div>

    <script>
        $('.cmd[data-cmd_id=#id#] .bt_plus').on('click', function() {
            $('.cmd[data-cmd_id=#id#] .value').val((parseInt($('.cmd[data-cmd_id] .value').val()) + 1));
            $('.cmd[data-cmd_id=#id#] .value').trigger('change');
        });
        $('.cmd[data-cmd_id=#id#] .bt_minus').on('click', function() {
            $('.cmd[data-cmd_id=#id#] .value').val((parseInt($('.cmd[data-cmd_id] .value').val()) - 1));
            $('.cmd[data-cmd_id=#id#] .value').trigger('change');
        });
        $('.cmd[data-cmd_id=#id#] .value').on('change', function() {
            jeedom.cmd.execute({id: '#id#', value: {slider: $('.cmd[data-cmd_id] .value').val()}});
        });
    </script>
</div>
