<div style="width:130px;height:115px;margin-top: 5px;" class="#history# tooltips cmd cmd-widget container-fluid" data-type="info" data-subtype="numeric" data-cmd_id="#id#" title="#collectDate#" >
    <div class="row">
	    <div class="gauge"></div>
  		<span class="nuit#id#" style="font-size: 12px;font-weight: bold;float: right;position: relative;top: -105px;left:-5px;"></span>
        	<span style="color:black;position:relative;line-height:10px;font-size: 0.7em;font-weight: bold;float: right;left:25px;top:-61px;text-align: right;#displayHistory#">           
            <span title='Min' class='tooltips'>#minHistoryValue# #unite#</span><br/>
            <span title='Moyenne' class='tooltips'>#averageHistoryValue# #unite#</span><br/>
            <span title='Max' class='tooltips'>#maxHistoryValue# #unite#</span><br/> <i class="#tendance#"></i>
        </span>
	</div>
  <script>
    	nuit = 250; // a modifier pour le passage en nuit
    	if( #maxValue# <= 1000 ) { diviseur = 10 }
     	else if( #maxValue# > 1000 || #maxValue# <= 5000 ) { diviseur = 50 }
     	else  { diviseur = 100 }
    	var couleur = parseInt( (#state# / diviseur ) + 100 );
    	var couleur2 = 24;
       if ( couleur < 0 || couleur >= 255 ) { 
          couleur = 255; 
          couleur2 = 24 + parseInt( #state# / diviseur );
        }
        if ( couleur2 < 0 || couleur2 >= 180 ) { couleur2 = 180; }
     	hexString1 = couleur.toString(16);
    	hexString2 = couleur2.toString(16);
                               
     	if( '#state#'  > nuit ) {
	    	$('.nuit#id#').append('<img src="plugins/widget/core/template/dashboard/cmd.info.numeric.luminosite/Sun-32.png">');
        }
    	else {
	    	$('.nuit#id#').append('<img src="plugins/widget/core/template/dashboard/cmd.info.numeric.luminosite/Moon-32.png">');
		}
   
        if (is_numeric('#state#')) {
        $('.cmd[data-cmd_id=#id#] .gauge').highcharts({
        chart: {
            type: 'gauge',
            backgroundColor: null,
          	borderRadius:5,
          shadow: true,
            plotBorderWidth: null,
            plotBackgroundImage: null,
          	borderWidth: 0,
            height: 110,
            backgroundColor: {
                linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                stops: [
                    [0, '#F3'+hexString1+hexString2],
                    [0.3, '#FFFFFF'],
                    [1, '#F3'+hexString1+hexString2]
                ]}
         },
        credits: {
            text: '',
            href: '',
        },

        title: {
            text: ''
        },

        pane: [{
            startAngle: 0,
            endAngle: 90,
            background: null,
            center: ['5%', '95%'],
            size: 100
        }],

        yAxis: [{
            min: 0,
            max: #maxValue#,
            minorTickPosition: 'outside',
            tickPosition: 'outside',
            labels: {
                rotation: 'auto',
              	distance: 15,
              step:1,
              style : {color:'#000000'}
            },
            plotBands: [{
                from: 0,
                to: nuit,
                color: '#C02316',
                innerRadius: '95%',
                outerRadius: '100%'
            }],
            pane: 0,
            title: {
              text: '<span class="cmdName" style="color:black;font-weight: bold;font-size : 0.8em;height: 12px;overflow: hidden;position: relative;" title="#name#">#name#</span><br/><span style="color:black;font-size:1.2em;font-weight:bold;">#state#</span><span style="color:black;font-size:0.8em;font-weight:bold;"> #unite#</span>',
                y: -50,
              	x: 35
            }
        }], 

        plotOptions: {
            gauge: {
                dataLabels: {
                    enabled: false
                },
                dial: {
                    radius: '100%'
                }
            }
        },


        series: [{
            data: [parseInt(#state#)],
            yAxis: 0,
            name: '#name#'
        }]

       });
        } else {

        $('.cmd[data-cmd_id=#id#] .gauge').append('<center><span class="label label-danger" style="margin-top : 5px;">#state#</span></center>');
        }
    </script>

</div>