<div style="width:90px;height:85px;" class="cmd tooltips cmd-widget cursor container-fluid" data-type="action" data-subtype="other" data-cmd_id="#id#">
  	<div class="row">
		<div class="action center-block iconCmd#id#"></div>
	</div>
	<style>
	.sens {
		-webkit-transform:rotate(180deg);
  		transform:rotate(180deg);
	}
      
	</style>
	<script>
        $('.iconCmd#id#').empty();
	  	temp = '#name#';
  		if ('#sens#' == '1' || '#sens#' == 1) {sens ="class='sens' ";} else {sens ="";} 
    	if ('#state#' == '1') {
      		$('.cmd[data-cmd_id=#id#] .iconCmd#id#').append('<img '+sens+'src="plugins/widget/core/template/dashboard/cmd.action.other.lumiere/light-on-80.png">');
	        if ( temp.toLowerCase().indexOf('on')==0 ) {
    	        $('.cmd[data-cmd_id=#id#]').hide();
        	}
	    } else {
    	    $('.cmd[data-cmd_id=#id#] .iconCmd#id#').append('<img '+sens+'src="plugins/widget/core/template/dashboard/cmd.action.other.lumiere/light-off-80.png">');
        	if ( temp.toLowerCase().indexOf('off')==0 ) {
	            $('.cmd[data-cmd_id=#id#]').hide();
    	    }
    	}
    	$('.cmd[data-cmd_id=#id#] .action').off();
    	$('.cmd[data-cmd_id=#id#] .action').on('click', function() {
        	jeedom.cmd.execute({id: '#id#'});
	    });
	</script>
</div>
