<div style="width:95px;height:100px;" class="cmd #history# tooltips cmd-widget container-fluid" data-type="info" data-subtype="numeric" data-cmd_id="#id#" title="#collectDate#">
	<div class="row">
        <h5 class="center-block iconCmd#id#" style="vertical-align:middle;"></h5>
  	</div>
    <script>
      	$('.iconCmd#id#').empty();
        if ('#state#' == '1') {
           $('.iconCmd#id#').append('<img src="plugins/widget/core/template/dashboard/cmd.info.binary.fenetre/fenetre-80.png" />');
        }
        else {
           $('.iconCmd#id#').append('<img src="plugins/widget/core/template/dashboard/cmd.info.binary.fenetre/fenetre-open-80.png" />');
        }
    </script>
</div>