<div style="width:90px; min-height:80px;" class="cmd tooltips cmd-widget cursor container-fluid" data-type="info" data-subtype="numeric" data-cmd_id="#id#">
	<center>
		<span class="cmdName" style="font-weight: bold;font-size : 12px;display: none;">#valueName#</span><br>
		<span style="font-size: 2.5em;" class="iconCmd#id#"></span>
	</center>
<!-- Ne Pas Supprimer -->
	<script class="createWidgetInfo" type="text/javascript">//<![CDATA[{"type":"0","min":["0","33","66"],"max":["33","66","100"],"icons":["<i class=\"icon animal-rabbit\"></i>","<i class=\"icon divers-coin9\"></i>","<i class=\"icon divers-calendar2\"></i>"]}]]></script>
<!-- Ne Pas Supprimer -->
	<script>
		if ("#displayName#" == "1") {
			$(".cmd[data-cmd_id=#id#] .cmdName").show();
		} else {
			$(".cmd[data-cmd_id=#id#] .cmdName").hide();
		}
		var temp = Math.round((#maxValue# - #minValue#) * #state# / 100)
		$(".iconCmd#id#").empty();
		if (temp >= 0 && temp < 33) {
			$('.iconCmd#id#').append('<i class="icon animal-rabbit"></i>');
			$('.iconCmd#id#').parent().append('<span style="font-size: 12px;" ><br>'+temp+'%</span>');
		}
		if (temp >= 33 && temp < 66) {
			$('.iconCmd#id#').append('<i class="icon divers-coin9"></i>');
			$('.iconCmd#id#').parent().append('<span style="font-size: 12px;" ><br>'+temp+'%</span>');
		}
		if (temp >= 66 && temp <= 100) {
			$('.iconCmd#id#').append('<i class="icon divers-calendar2"></i>');
			$('.iconCmd#id#').parent().append('<span style="font-size: 12px;" ><br>'+temp+'%</span>');
		}
	</script>
</div>
