<div class="cmd #history# tooltips cmd-widget gaugeIMG#id#" data-type="info" data-subtype="numeric" data-cmd_id="#id#" title="#collectDate#">
	<span class='cmdName' style="font-weight: bold;font-size : 12px;">#name#</span>
		<div class="gaugeIMGdisplay#id#">
			<img src="plugins/widget/core/template/dashboard/cmd.info.numeric.gaugeIMG/fondGreen.png" class="IMGgauge#id#" alt="Fond" >
          	<span class="minvalue_gauge#id#">#minValue#</span>
			<span class="maxvalue_gauge#id#">#maxValue#</span>
          	<span class="midvalue_gauge#id#" id=midvalue#id#></span>
          	<span class="quartvalue_gauge#id#" id=quartvalue#id#></span>
          	<span class="troisquartvalue_gauge#id#" id=troisquartvalue#id#></span>
    		<span class="state_gauge#id#">#state#</span> 
    		<span class="unite_gauge#id#">#unite#</span>
		</div>
		<div id="gauge#id#" class=" indicator"></div>

<style>
@font-face {
    font-family: "Digital-7";
  	src:	url("plugins/widget/core/template/dashboard/cmd.info.numeric.gaugeIMG/font/digital-7.eot?") format("eot"),
      		url("plugins/widget/core/template/dashboard/cmd.info.numeric.gaugeIMG/font/digital-7.woff") format("woff"),
      		url("plugins/widget/core/template/dashboard/cmd.info.numeric.gaugeIMG/font/digital-7.ttf") format("truetype"),
      		url("plugins/widget/core/template/dashboard/cmd.info.numeric.gaugeIMG/font/digital-7.svg#Digital-7") format("svg");
  	font-weight:normal;
  	font-style:normal;
}
 
span.state_gauge#id# {
    font-family: "Digital-7"; 
    font-size:22px;
  	position: absolute;
  	top: 76px;
  	right: 32px;
  	transform : scale(0.9,1);
	-webkit-transform:scale(0.9,1); /* Safari and Chrome */
	-moz-transform:scale(0.9,1); /* Firefox */
    -ms-transform:scale(0.9,1); /* IE 9+ */
	-o-transform:scale(0.9,1); /* Opera */
  }
  
span.unite_gauge#id# {
    font-size:9px;
  	color: #F0F0F0;
  	position: absolute;
  	top: 66px;
  	right: 56px;
  }

span.minvalue_gauge#id# {
    font-size: 0.5em;
  	font-weight: bold;
  	color: #F0F0F0;
  	position: absolute;
  	top: 68px;
  	left: 25px;
  }

span.maxvalue_gauge#id# {
    font-size: 0.5em;
  	font-weight: bold;
  	color: #F0F0F0;
  	position: absolute;
  	top: 68px;
  	right: 25px;
  }  

span.midvalue_gauge#id# {
    font-size: 0.5em;
  	font-weight: bold;
  	color: #F0F0F0;
  	position: absolute;
  	top: 20px;
  	left: 46%;
  }
  
span.quartvalue_gauge#id# {
    font-size: 0.5em;
  	font-weight: bold;
  	color: #F0F0F0;
  	position: absolute;
  	top: 38px;
  	left: 27px;
  }

span.troisquartvalue_gauge#id# {
    font-size: 0.5em;
  	font-weight: bold;
  	color: #F0F0F0;
  	position: absolute;
  	top: 38px;
  	right: 27px;
  }

img.IMGgauge#id# {
	width: 120px;
  	height: 120px;
}
  
div.gaugeIMG#id# {
  	width:140px;
  	min-height : 140px;
}

div.gaugeIMGdisplay#id# {
  	float: center; 
  	position: absolute;
  	left: 10px;
  	top: 20px;
}
  
#gauge#id# {
    position: absolute;
    width:75px;
    height:75px;
    background : url("./plugins/widget/core/template/dashboard/cmd.info.numeric.gaugeIMG/center.png") no-repeat scroll center transparent;
    left:31px;
    top:40px;
    -webkit-transform: rotate(0deg);
}
</style>

  

<script>         
    angle = Math.round( (#state#/#maxValue#) * 220 );
	
    midvalue = #minValue# + Math.round( ( (#maxValue# - #minValue#) / 2) );
    quartvalue = #minValue# + Math.round( ( (#maxValue# - #minValue#) /4 ) );
    troisquartvalue = #minValue# + Math.round( ( (#maxValue# - #minValue#) * (3/4) ) );

    $('#midvalue#id#').text(midvalue);
	$('#quartvalue#id#').text(quartvalue);
	$('#troisquartvalue#id#').text(troisquartvalue);
                          
	$('#gauge#id#.indicator').css( {'-webkit-transform':'rotate('+angle+'deg)','-moz-transform':'rotate('+angle+'deg)','-ms-transform':'rotate('+angle+'deg)','-o-transform':'rotate('+angle+'deg)','transform':'rotate('+angle+'deg)'});

	if ('#petit#' == 1) {
    	$('div.gaugeIMG#id#').css('width','90px');
      	$('div.gaugeIMG#id#').css('min-height','90px');
      	$('div.gaugeIMGdisplay#id#').css('left','5px');
      	$('span.state_gauge#id#').css('font-size','16px');
      	$('span.state_gauge#id#').css('top','50px');
      	$('span.state_gauge#id#').css('right','20px');
      	$('span.unite_gauge#id#').css('font-size','5px');
      	$('span.unite_gauge#id#').css('top','47px');
      	$('span.unite_gauge#id#').css('right','37px');
      	$('span.minvalue_gauge#id#').css('font-size','0.3em');
      	$('span.minvalue_gauge#id#').css('top','46px');
      	$('span.minvalue_gauge#id#').css('left','15px');      
      	$('span.maxvalue_gauge#id#').css('font-size','0.3em');
      	$('span.maxvalue_gauge#id#').css('top','46px');
      	$('span.maxvalue_gauge#id#').css('right','15px');      
      	$('span.midvalue_gauge#id#').css('font-size','0.3em');
      	$('span.midvalue_gauge#id#').css('top','13px');
      	$('span.midvalue_gauge#id#').css('right','40px');      
      	$('span.quartvalue_gauge#id#').css('font-size','0.3em');
      	$('span.quartvalue_gauge#id#').css('top','25px');
      	$('span.quartvalue_gauge#id#').css('left','19px');      
      	$('span.troisquartvalue_gauge#id#').css('font-size','0.3em');
      	$('span.troisquartvalue_gauge#id#').css('top','25px');
      	$('span.troisquartvalue_gauge#id#').css('right','19px');      
      	$('#gauge#id#').css('width','48px');
      	$('#gauge#id#').css('height','48px');
      	$('#gauge#id#').css('left','21px');
      	$('#gauge#id#').css('top','35px');
      	$('img.IMGgauge#id#').css('width','80px');
      	$('img.IMGgauge#id#').css('height','80px');
    }
  
  
</script>
</div>  