<div style="width:90px;min-height:80px;" class="cmd tooltips cmd-widget cursor" data-type="info" data-subtype="numeric" data-cmd_id="#id#">
    <center>
        <span style="font-weight: bold;font-size : 12px;">#valueName#</span><br/>
        <span style="font-size: 3em;font-weight: bold;margin-top: 5px;" class="action" id="iconCmd#id#"></span>
    </center>
    <script>
        if ('#state#' == '1' || '#state#' == 1) {
            $('#iconCmd#id#').append('<img style="display: block;" src="plugins/widget/core/template/dashboard/cmd.action.other.backup/Time Machine-60.png">');
            if ('#name#' == 'ON' || '#name#' == 'on' || '#name#' == 'On' || '#name#' == 'on2' || '#name#' == 'On2') {
                $('.cmd[data-cmd_id=#id#]').hide();
            }
        } else {
            $('#iconCmd#id#').append('<img style="display: block;" src="plugins/widget/core/template/dashboard/cmd.action.other.backup/Time Machine-60.png">');
            if ('#name#' == 'OFF' || '#name#' == 'off' || '#name#' == 'Off' || '#name#' == 'off2' || '#name#' == 'Off2') {
                $('.cmd[data-cmd_id=#id#]').hide();
            }
        }
        $('.cmd[data-cmd_id=#id#] .action').off();
        $('.cmd[data-cmd_id=#id#] .action').on('click', function() {
            jeedom.cmd.execute({id: '#id#'});
        });
    </script>
</div>