<div style="min-width:90px;min-height:100px;margin-right: 5px;margin-left: 5px;" class="cmd #history# tooltips cmd cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#id#" title="#collectDate#">
    <center>
        <span class='cmdName' style="font-weight: bold;font-size : 12px;">#name#</span><br/>
        <span style="font-size: 2em;font-weight: bold;">#state#</span><br/>
        <span style="font-weight: bold;">#unite#</span><br/>
        <span style="#displayHistory#;" class="statistiques">
            <span title='Min' class='tooltips'>#minHistoryValue#</span>|<span title='Moyenne' class='tooltips'>#averageHistoryValue#</span>|<span title='Max' class='tooltips'>#maxHistoryValue#</span> <i class="#tendance#"></i>
        </span>
    </center>
</div>