<div style="min-width:90px;min-height:105px;padding:0px !important;" class="#history# container-fluid tooltips cmd cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#id#" title="Valeur du #valueDate#, collectée le #collectDate#" >
    <div class="gauge"></div>
    <div style="#displayHistory# font-size: 0.8em;" class="col-xs-12 center-block">
        <span title='Min' class='tooltips'>#minHistoryValue#</span>|<span title='Moyenne' class='tooltips'>#averageHistoryValue#</span>|<span title='Max' class='tooltips'>#maxHistoryValue#</span> <i class="#tendance#"></i>
    </div>
    <script>
        if (is_numeric('#state#')) {
            $('.cmd[data-cmd_id=#id#] .gauge').highcharts({
                chart: {
                    events: {
                        click: function (event) {
                            if (!$.mobile && '#history#' == 'history cursor') {
                                $('#md_modal').dialog({title: "Historique"});
                                $("#md_modal").load('index.php?v=d&modal=cmd.history&id=#id#').dialog('open');
                            }
                        }
                    },
                    type: 'gauge',
                    plotBackgroundColor: null,
                    plotBackgroundImage: null,
                    backgroundColor: null,
                    plotBorderWidth: 0,
                    plotShadow: false,
                    height: 90,
                    spacingTop: 0,
                    spacingLeft: 0,
                    spacingRight: 0,
                    spacingBottom: 0
                },
                credits: {
                    text: '',
                    href: '',
                },
                title: {
                    text: ''
                },
                navigation: {
                    buttonOptions: {
                        enabled: false
                    }
                },
                plotOptions: {
                    series: {
                        animation: false,
                    }
                },
                tooltip: {
                    enabled: false
                },
                exporting : {
                    enabled: false
                },
                pane: {
                    startAngle: - 150,
                    endAngle: 150,
                    size: 80,
                    background: [{
                        backgroundColor: {
                            linearGradient: {x1: 0, y1: 0, x2: 0, y2: 1},
                            stops: [
                            [0, '#FFF'],
                            [1, '#333']
                            ]
                        },
                        borderWidth: 0,
                        outerRadius: '109%'
                    }, {
                        backgroundColor: {
                            linearGradient: {x1: 0, y1: 0, x2: 0, y2: 1},
                            stops: [
                            [0, '#333'],
                            [1, '#FFF']
                            ]
                        },
                        borderWidth: 1,
                        outerRadius: '107%'
                    }, {
                        // default background
                    }, {
                        backgroundColor: '#DDD',
                        borderWidth: 0,
                        outerRadius: '105%',
                        innerRadius: '103%'
                    }]
                },
                // the value axis
                yAxis: {
                    min: #minValue#,
                    max: #maxValue#,
                    minorTickInterval: 'auto',
                    minorTickWidth: 1,
                    minorTickLength: 10,
                    minorTickPosition: 'inside',
                    minorTickColor: '#666',
                    tickPixelInterval: 30,
                    tickWidth: 2,
                    tickPosition: 'inside',
                    tickLength: 10,
                    tickColor: '#666',
                    labels: {
                        step: 3,
                        rotation: 'auto'
                    },
                    title: {
                        text: '#unite#',
                        y: 16
                    },
                    plotBands: [{
                        from: #minValue#,
                        to: #minValue# + ((#maxValue# - #minValue#) * (1 / 3)),
                                color: '#55BF3B' // green
                            }, {
                                from: #minValue# + ((#maxValue# - #minValue#) * (1 / 3)),
                                to: #minValue# + ((#maxValue# - #minValue#) * (2 / 3)),
                                color: '#DDDF0D' // yellow
                            }, {
                                from: #minValue# + ((#maxValue# - #minValue#) * (2 / 3)),
                                to: #maxValue#,
                                color: '#DF5353' // red
                            }]
                        },
                        series: [{
                            data: [parseInt('#state#')]
                        }]

                    });
} else {

    $('.cmd[data-cmd_id=#id#] .gauge').append('<center><span class="label label-danger" style="margin-top : 5px;">#state#</span></center>');
}
</script>

</div>