<div style="width:310px;height:310px;padding:0" class="cmd #history# tooltips cmd-widget boussoleWidget#id#" data-type="info" data-subtype="numeric" data-cmd_id="#id#" title="#collectDate#">
  	<div class="boussole#id#" style="position:absolute;width: 300px;height: 300px;background:url('plugins/widget/core/template/dashboard/cmd.info.numeric.RoseDesVents/boussole-noir.png') no-repeat;"></div>
  	<div class="aiguille#id#" style="position:absolute;width: 300px;height: 300px;background:url('plugins/widget/core/template/dashboard/cmd.info.numeric.RoseDesVents/aiguille-blanc.png') no-repeat;"></div>
	<script>
 		if( '#couleur#' == 'White' ) {
		    $('.boussole#id#').css('background-image',"url('plugins/widget/core/template/dashboard/cmd.info.numeric.RoseDesVents/boussole-blanc.png')");
		    $('.aiguille#id#').css('background-image',"url('plugins/widget/core/template/dashboard/cmd.info.numeric.RoseDesVents/aiguille-noir.png')");
	    }
	    $('.aiguille#id#').css('transform','rotate('+parseInt('#state#')+'deg)');
	  	tailleTemp = (is_numeric('#taille#')) ? parseFloat('#taille#') : 1.0;
	    widthTemp = Math.round ( 310*tailleTemp );
	   	ecart = Math.abs(Math.round((310 - widthTemp)/2));
 	   $('.boussoleWidget#id#').css( {'width':Math.round ( 310*tailleTemp )+'px','height':Math.round ( 310*tailleTemp )+'px'});
 	   $('.boussoleWidget#id#').css( {'-webkit-transform':'scale('+tailleTemp+')','-moz-transform':'scale('+tailleTemp+')','-ms-transform':'scale('+tailleTemp+')','-o-transform':'scale('+tailleTemp+')','transform':'scale('+tailleTemp+')'});
		if ( tailleTemp <= 1.0 ) {
	    	$('.boussole#id#').css( {'top':'-'+(ecart-5)+'px','left':'-'+(ecart-5)+'px'});
	    	$('.aiguille#id#').css( {'top':'-'+(ecart-5)+'px','left':'-'+(ecart-5)+'px'});
	    }
	  	else {
	    	$('.boussole#id#').css( {'top':ecart+'px','left':ecart+'px'});
	    	$('.aiguille#id#').css( {'top':ecart+'px','left':ecart+'px'});
	    }
	</script>
</div>
