<div class="cmd" data-type="action" data-subtype="color" data-cmd_id="#id#" style="width : 149px; height : 220px;">
    <div class="action_colorpicker"></div>
    <a data-mini="true" class="action_colorpicker_off ui-btn ui-btn-b" style="margin: 8px 8px;">Off</a>

    <script>
        $.include(['plugins/widget/core/template/mobile/cmd.action.color.circle/farbtastic.js', 'plugins/widget/core/template/mobile/cmd.action.color.circle/farbtastic.css'], function() {
        $('.cmd[data-cmd_id=#id#] .action_colorpicker').off();
                if ($('.cmd[data-cmd_id=#id#] .action_colorpicker').length > 0) {
        $('.cmd[data-cmd_id=#id#] .action_colorpicker').farbtastic();
                $.farbtastic($('.cmd[data-cmd_id=#id#] .action_colorpicker')).setColor(('#state#' != '') ? '#state#' : '#000000');
                $('.cmd[data-cmd_id=#id#] .action_colorpicker_off').click(function() {
        jeedom.cmd.execute({id :'#id#', {color: '#000000'}});
        });
                $('.cmd[data-cmd_id=#id#] .action_colorpicker').mouseup(function() {
        jeedom.cmd.execute({id :'#id#', {color: $.farbtastic($(this)).color}});
        });
        }
        });
    </script>
</div>