<div class="cmd" data-type="action" data-subtype="slider" data-cmd_id="#id#">
    <div data-role="controlgroup" data-type="horizontal">
        <input type="text" class="value" data-mini="true" value="#state#" data-wrapper-class="controlgroup-textinput ui-btn" style="width: 50px;"/>
        <a class="ui-btn bt_plus ui-mini"><i class="fa fa-plus"></i></a>
        <a class="ui-btn bt_minus ui-mini"><i class="fa fa-minus"></i></a>
    </div>
    <script>
        $('.cmd[data-cmd_id=#id#] .bt_plus').on('click', function() {
            $('.cmd[data-cmd_id=#id#] .value').val((parseFloat($('.cmd[data-cmd_id] .value').val()) + 0.5));
            $('.cmd[data-cmd_id=#id#] .value').trigger('change');
        });
        $('.cmd[data-cmd_id=#id#] .bt_minus').on('click', function() {
            $('.cmd[data-cmd_id=#id#] .value').val((parseFloat($('.cmd[data-cmd_id] .value').val()) - 0.5));
            $('.cmd[data-cmd_id=#id#] .value').trigger('change');
        });
        $('.cmd[data-cmd_id=#id#] .value').on('change', function() {
            jeedom.cmd.execute({id: '#id#', value: {slider: $('.cmd[data-cmd_id] .value').val()}});
        });
    </script>
    <style>
        .controlgroup-textinput{
            padding-top:.15em;
            padding-bottom:.12em;
        }
    </style>
</div>