<div style="width:80px;height:75px;margin-left:5px;" id="boussoleWidget#id#" class="cmd #history# tooltips cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#id#" title="#collectDate#">
   	<div id="boussole#id#" style="position:absolute;width: 75px;height: 75px;background:url('plugins/widget/core/template/mobile/cmd.info.numeric.RoseDesVents/boussole-noir.png') no-repeat;background-size: 75px 75px;"></div>
  	<div id="aiguille#id#" style="position:absolute;margin-top:8px;width: 8px;height: 60px;left: 51px;background:url('plugins/widget/core/template/mobile/cmd.info.numeric.RoseDesVents/aiguille-blanc.png') no-repeat;background-size: 8px 60px;"></div>
    
<script>
 	if( '#couleur#' == 'White' ) {
	    $('#boussole#id#').css('background-image',"url('plugins/widget/core/template/mobile/cmd.info.numeric.RoseDesVents/boussole-blanc.png')");
	    $('#aiguille#id#').css('background-image',"url('plugins/widget/core/template/mobile/cmd.info.numeric.RoseDesVents/aiguille-noir.png')");
    }
	if (is_numeric('#taille#')) {
        heightBoussole = Math.round( (300*parseInt('#taille#')) /100 );
        widthBoussole = Math.round( (300*parseInt('#taille#'))/100 );
        heightAiguille = Math.round( (247*parseInt('#taille#'))/100 );
        widthAiguille = Math.round( (34*parseInt('#taille#'))/100 );
      	topAiguille = Math.round((heightBoussole-heightAiguille)/2);
        leftAiguille = Math.round( (131*parseInt('#taille#'))/100 ) + 1;
	    $('#boussoleWidget#id#').css('width',widthBoussole+'px');
	    $('#boussoleWidget#id#').css('height',heightBoussole+'px');
	    $('#boussole#id#').css('width',widthBoussole+'px');
	    $('#boussole#id#').css('height',heightBoussole+'px');
	    $('#boussole#id#').css('background-size',widthBoussole+'px '+heightBoussole+'px');
	    $('#aiguille#id#').css('width',widthAiguille+'px');
	    $('#aiguille#id#').css('height',heightAiguille+'px');
	    $('#aiguille#id#').css('left',leftAiguille+'px');
	    $('#aiguille#id#').css('margin-top',topAiguille+'px');
	    $('#aiguille#id#').css('background-size',widthAiguille+'px '+heightAiguille+'px');
    $('#aiguille#id#').css('transform','rotate('+parseInt('#state#')+'deg)');
    }
    $('#aiguille#id#').css('transform','rotate('+parseInt('#state#')+'deg)');
</script>
</div>
