<div id="anenoWidget#id#" style="width:127px;height:75px;" class="cmd #history# tooltips cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#id#" title="#collectDate#">
       	<center><span class='cmdName' style="margin-bottom:5px;font-weight: bold;font-size : 0.8em;width: 120px;height: 17px;overflow: hidden;position: relative;" title="#name#">#name#</span></center>
    <div id="tailleCmd#id#" style="margin-right:5px;position:relative;width:47px;height:48px;float: left;">
        <span id="iconCmd#id#"></span>
   </div>
	<div id="couleur#id#" style="font-weight: bold; color: black;float: left;position: relative;top :6px; width: 80px; height: 44px;background: url('plugins/widget/core/template/mobile/cmd.info.numeric.Anemometre/Marker-Board-Azure-80.png') no-repeat;">
      <center style="padding: 7px 6px 1px 26px;line-height: 16px;">
		<span style="font-size: 1em;">#state#</span><br/>
      	<span style="font-size: 0.6em;">#unite#</span>
      </center>
  	</div>
   <script>
		var temp;
     	temp = #state# ; 
     	temp = temp.toFixed(0); // On arrondit;
 		if( '#couleur#' == 'Pink' ) {
       		$('#couleur#id#').css('background-image','url("plugins/widget/core/template/mobile/cmd.info.numeric.Anemometre/Marker-Board-Green-80.png")');
        }
 		else if( '#couleur#' == 'Green' ) {
       		$('#couleur#id#').css('background-image','url("plugins/widget/core/template/mobile/cmd.info.numeric.Anemometre/Marker-Board-Pink-80.png")');
        }
 		else {
       		$('#couleur#id#').css('background-image','url("plugins/widget/core/template/mobile/cmd.info.numeric.Anemometre/Marker-Board-Azure-80.png")');
        }
      	if ( temp <= 9) {
           	$('#anenoWidget#id#').css('width','110px');
           	$('#tailleCmd#id#').css('width','20px');
           	$('#iconCmd#id#').append('<img src="plugins/widget/core/template/mobile/cmd.info.numeric.Anemometre/manche-0-48.png">');
        }
     	if (temp > 9 && temp <= 36) {
           	$('#anenoWidget#id#').css('width','130px');
           	$('#tailleCmd#id#').css('width','40px');
           	$('#iconCmd#id#').append('<img src="plugins/widget/core/template/mobile/cmd.info.numeric.Anemometre/manche-45-48.png">');
        }
     	if (temp > 36 && temp <= 46) {
           	$('#anenoWidget#id#').css('width','137px');
           	$('#tailleCmd#id#').css('width','47px');
           	$('#iconCmd#id#').append('<img src="plugins/widget/core/template/mobile/cmd.info.numeric.Anemometre/manche-90-48.png">');
        }
     	if (temp > 46) {
           	$('#anenoWidget#id#').css('width','132px');
           	$('#tailleCmd#id#').css('width','42px');
          	$('#iconCmd#id#').append('<img src="plugins/widget/core/template/mobile/cmd.info.numeric.Anemometre/manche-over-48.png">');
        }
    </script>
</div>