<div style="margin: 5px;width:115px;min-height:75px;" class="cmd #history# tooltips cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#id#" title="#collectDate#">
    <div class='cmdName' style="font-weight: bold;font-size : 0.8em;left: 32px;width: 110px;height: 17px;overflow: hidden;" title="#name#">#name#</div>
  	<div style="position:relative;width:35px;height:60px;float: left;">
     <div id="recipient#id#" style="width: 35px; height: 60px; position: absolute; z-index: 1; background: url('plugins/widget/core/template/mobile/cmd.info.numeric.GoutteEau/goutteeau.png') no-repeat;background-size: 35px 60px;"></div>
     <div id="recipientmask#id#" style="position: absolute;display:block;width: 35px;float:left;height: 60px; background: url('plugins/widget/core/template/mobile/cmd.info.numeric.GoutteEau/goutteeaumask.png') no-repeat;background-size: 35px 60px;"></div>
  	</div>

	<div id="couleur#id#" style="font-weight: bold; color: black;float: left;position: relative;top :6px; width: 80px; height: 44px;background: url('plugins/widget/core/template/mobile/cmd.info.numeric.humidite/Marker-Board-Azure-80.png') no-repeat;">
      <center style="padding: 7px 6px 1px 26px;line-height: 16px;">
		<span style="font-size: 1em;">#state#</span><br/>
      	<span style="font-size: 0.6em;">#unite#</span>
      </center>
  	</div>
<script>
 	if( '#couleur#' == 'Pink' ) {
   		$('#couleur#id#').css('background-image','url("plugins/widget/core/template/mobile/cmd.info.numeric.humidite/Marker-Board-Green-80.png")');
    }
 	else if( '#couleur#' == 'Green' ) {
   		$('#couleur#id#').css('background-image','url("plugins/widget/core/template/mobile/cmd.info.numeric.humidite/Marker-Board-Pink-80.png")');
    }
 	else {
   		$('#couleur#id#').css('background-image','url("plugins/widget/core/template/mobile/cmd.info.numeric.humidite/Marker-Board-Azure-80.png")');
    }
  	height = parseInt( 60*(#state#/#maxValue#) );
    topPosition = 60 - height;
                          
    //$('#recipient#id#').css('top',topPosition+'px');
	$('#recipient#id#').css('height',height+'px');
    $('#recipient#id#').css('top',topPosition+'px');
    $('#recipient#id#').css('background-position','0 -'+topPosition+'px');
    $('#humidite#id#').append(Math.round((#state#*100)/#maxValue#));
</script>
</div>
