<div style="width:100px;min-height:110px;vertical-align: top;" class="cmd #history# tooltips cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#id#" title="#collectDate#">
    <center>
        <span style="font-size: 3.5em;" id="iconCmd#id#"></span>
    </center>
    <script>
        if ('#state#' == '1' || '#state#' == 1) {
           $('#iconCmd#id#').append('<img src="plugins/widget/core/template/mobile/cmd.info.binary.BaieIMG/BaieClose.png" />');
        }
        if ('#state#' == '0' || '#state#' == 0) {
           $('#iconCmd#id#').append('<img src="plugins/widget/core/template/mobile/cmd.info.binary.BaieIMG/BaieOpen.png" />');
        }
    </script>
</div>