<div style="width:120px;height:100%;" class="cmd #history# tooltips" data-type="info" data-subtype="numeric" data-cmd_id="#id#" title="#collectDate#">
    <center>
        <span style="font-size: 1.1em;" class="action" id="iconCmd#id#"></span>
    </center>
</div>

<script>
  		var temp;
     	/* calcul du pourcentage de charge par rapport à la valeur max*/
     	temp = ( #state# * 100 ) / #maxValue#; 
     	temp = temp.toFixed(0); // On arrondit;
    
        if (temp > 0 && temp <= 40) {  //piles pleines
          $('#iconCmd#id#').append('<img style="vertical-align: middle;" src="plugins/widget/core/template/mobile/cmd.info.numeric.temperature/temperature-1-48.png"><span style="padding: 3px;border-radius:4px;box-shadow: 2px 2px 4px white;border: 1px groove;">#state# #unite#</span>');
        }
        if (temp > 40 && temp <= 60) {
            $('#iconCmd#id#').append('<img style="vertical-align: middle;" src="plugins/widget/core/template/mobile/cmd.info.numeric.temperature/temperature-3-48.png"><span style="padding: 3px;border-radius:4px;box-shadow: 2px 2px 4px white;border: 1px groove;">#state# #unite#</span>');
      }
        if (temp > 60 && temp <= 100) {
          $('#iconCmd#id#').append('<img style="vertical-align: middle;" src="plugins/widget/core/template/mobile/cmd.info.numeric.temperature/temperature-5-48.png"><span style="padding: 3px;border-radius:4px;box-shadow: 2px 2px 4px white;border: 1px groove;">#state# #unite#</span>');
      }
</script>