<div style="width:120px;height:100%;" class="cmd #history# tooltips" data-type="info" data-subtype="numeric" data-cmd_id="#id#" title="#collectDate#">
    <center>
        <span style="font-size: 1.1em;" class="action iconCmd#id#"></span>
    </center>
</div>

<script>
    if ('#state#' == '1') {
        $('.iconCmd#id#').append('<img style="vertical-align: middle;" src="plugins/widget/core/template/mobile/cmd.action.other.lumiere/light-on.png"><span style="padding: 3px;border-radius:4px;box-shadow: 2px 2px 4px white;border: 1px groove;">On</span>');
        if (jeedom.cmd.normalizeName('#name#') == 'on') {
            $('.cmd[data-cmd_id=#id#]').hide();
        }
    } else {
        $('.iconCmd#id#').append('<img style="vertical-align: middle;" src="plugins/widget/core/template/mobile/cmd.action.other.lumiere/light-off.png"><span style="padding: 3px;border-radius:4px;box-shadow: 2px 2px 4px white;border: 1px groove;">Off</span>');
        if (jeedom.cmd.normalizeName('#name#') == 'off') {
            $('.cmd[data-cmd_id=#id#]').hide();
        }
    }
    $('.cmd[data-cmd_id=#id#] .action').off();
    $('.cmd[data-cmd_id=#id#] .action').on('click', function() {
        jeedom.cmd.execute({id: '#id#'});
    });
</script>