<div style="width:150px;min-height:80px;" class="cmd #history# tooltips cmd-widget container-fluid" data-type="info" data-subtype="numeric" data-cmd_id="#id#" title="#collectDate#">
      <div style="font-size: 0.6em;font-weight: bold;color: black;position:relative;width:15px;height:80px;float: left;">
		<span style="text-align: right;position: relative;width:15px;float: right;top: 2px;">#maxValue#</span>
		<span style="text-align: right;position: relative;width:15px;float: right;top: 38px;">#minValue#</span>
  	</div>
  	<div id="thermo#id#" style="position:relative;width:22px;height:80px;float: left;background:url('plugins/widget/core/template/mobile/cmd.info.numeric.ThermometreMini/thermo-2-0-80.png') no-repeat;">
	    <div style="position: absolute;display:block;width: 3px;float:left;height: 61px;border: none;border-radius: 3px;background-color: white;left: 9px;top: 3px;">
    		<div id="height#id#" style="display:block;position:absolute;bottom:0;width:100%;height: 0%;background-image: linear-gradient(to bottom, #fb0e0e, #1515b9);"></div>
  		</div>
  	</div>
	<div id="thermoMarker#id#" style="top: 0px; font-weight: bold; color: black;float: left;position: relative; width: 80px; height: 44px;background: url(plugins/widget/core/template/mobile/cmd.info.numeric.ThermometreMini/Marker-Board-Azure-80.png) no-repeat;">
      <center style="padding: 7px 6px 1px 26px;line-height: 16px;">
		<span style="font-size: 1.2em;">#state#</span><br/>
      	<span style="font-size: 0.8em;">#unite#</span>
      </center>
  	</div>

    
<script>
	rangeMin = Math.round(0.3*parseInt('#maxValue#')); 
	rangeMax = Math.round(0.7*parseInt('#maxValue#'));
  	range = parseInt('#state#');
 	if( range <= rangeMin ) {
   		$('#thermoMarker#id#').css('background-image','url("plugins/widget/core/template/mobile/cmd.info.numeric.Anemometre/Marker-Board-Azure-80.png")');
    }
 	else if( range > rangeMin && range <= rangeMax ) {
   		$('#thermoMarker#id#').css('background-image','url("plugins/widget/core/template/mobile/cmd.info.numeric.Anemometre/Marker-Board-Green-80.png")');
    }
 	else {
   		$('#thermoMarker#id#').css('background-image','url("plugins/widget/core/template/mobile/cmd.info.numeric.Anemometre/Marker-Board-Pink-80.png")');
    }
  	height = Math.round( (#state# - (#minValue#)) * (49/(#maxValue# - (#minValue#))) ) + 6;
    topMarker = 49 - height;                         
    $('#height#id#').css('height',height+'px');
    $('#thermoMarker#id#').css('top',topMarker+'px');
</script>
</div>
