<span class="cmd #history# tooltips" data-type="info" data-subtype="numeric" data-cmd_id="#id#" data-cmd_uid="#uid#" title="#collectDate#" style="width:120px;display: inline-block;">
    <div class="vuMeter"></div>
    <span style="vertical-align: top; display : inline;white-space: nowrap;" >
        <a href="#tooltipsCmd#uid#" data-rel="popup" data-transition="pop" class="ui-btn ui-btn-icon-notext ui-corner-all ui-icon-info ui-btn-inline" style="margin-right: 0em;"></a>
        <span class="collectDate" style="font-size: 0.75em; #displayHistory#">
            <span>#minHistoryValue#</span>|<span>#averageHistoryValue#</span>|<span>#maxHistoryValue#</span> <i class="#tendance#"></i>
        </span>
    </span>
    <div data-role="popup" id="tooltipsCmd#uid#" class="ui-content" data-theme="a" style="max-width:350px;">
        #collectDate#
    </div>

    <script>
        setTimeout(function(){
            if (is_numeric('#state#')) {
                $('.cmd[data-cmd_uid=#uid#] .vuMeter').highcharts({
                    chart: {
                        events: {
                            click: function (event) {
                                if (!$.mobile && '#history#' == 'history cursor') {
                                    $('#md_modal').dialog({title: "{{Historique}}"});
                                    $("#md_modal").load('index.php?v=d&modal=cmd.history&id=#id#').dialog('open');
                                }
                            }
                        },
                        type: 'gauge',
                        plotBackgroundColor: null,
                        plotBackgroundImage: null,
                        backgroundColor: null,
                        plotBorderWidth: 0,
                        plotShadow: false,
                        height: 90,
                        spacingTop: 0,
                        spacingLeft: 0,
                        spacingRight: 0,
                        spacingBottom: 0
                    },
                    credits: {
                        text: '',
                        href: '',
                    },
                    title: {
                        text: ''
                    },
                    exporting : {
                        enabled: false
                    },
                    navigation: {
                        buttonOptions: {
                            enabled: false
                        }
                    },
                    tooltip: {
                        enabled: false
                    },
                    pane: [{
                        startAngle: - 60,
                        endAngle: 60,
                        background: null,
                        center: ['50%', '80%'],
                        size: 100
                    }],
                    yAxis: [{
                        min: #minValue#,
                        max: #maxValue#,
                        tickWidth: 2,
                        tickLength: 10,
                        lineWidth: 3,
                        minorTickPosition: 'outside',
                        tickPosition: 'outside',
                        tickColor: '#FFFFFF',
                        lineColor: '#FFFFFF',
                        labels: {
                            rotation: 'auto',
                            style: {
                                color: '#FFFFFF',
                                fontWeight: 'bold'
                            },
                            distance: - 14
                        },
                        pane: 0,
                        title: {
                            useHTML: true,
                            style: {
                                color:'white',
                                zIndex: 999,
                                'font-weight': 'bold',
                            },
                            align: 'middle',
                            y: 20,
                            text: '#state# #unite#',
                        }
                    }],
                    plotOptions: {
                        gauge: {
                            dataLabels: {
                                y: - 95,
                                borderWidth: 0
                            },
                        },
                        series: {
                            animation: false
                        }
                    },
                    series: [{
                        data: [parseInt('#state#')]
                    }]

                });
} else {
    $('.cmd[data-cmd_uid=#uid#] .vuMeter').append('<center><span class="label label-danger" style="margin-top : 5px;">#state#</span></center>');
}
}, 100);
</script>
</span>